.app-container {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 80%;
  max-width: 1140px;
}
@media screen and (min-width: 768px) {
  .container {
    align-items: flex-start;
  }
}
.heading {
  text-align: center;
  color: #0f172a;
  font-size: 40px;
  font-family: 'Roboto';
  font-weight: bold;
  margin-top: 48px;
  margin-bottom: 32px;
  margin-left: 15px;
}
.searchContainer {
  display: flex;
  flex-direction: row;
  background-color: #f1f5f9;
  border-radius: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  padding-left: 16px;
  margin-left: 15px;
}
.search-input {
  color: #0f172a;
  background-color: #f1f5f9;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 500;
  border: none;
  outline: none;
}
.searchImg {
  width: 20px;
  height: 20px;
}
.usersList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 0px;
  margin-top: 48px;
}
@media screen and (min-width: 768px) {
  .usersList {
    justify-content: flex-start;
  }
}
