.user-card-container {
  list-style-type: none;
  width: 235px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 32px;
}
.profile-pic {
  width: 235px;
  height: 175px;
  border-radius: 10px;
  margin: 10px;
}
.head {
  color: #000000;
  font-size: 15px;
  font-family: 'Roboto';
}
@media screen and (min-width: 768px) {
  .head {
    font-size: 20px;
  }
}
